__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store
Thumbs.db

outputs/**/*.log
outputs/**/*.pt
outputs/**/*.jsonl
outputs/**/*.pkl
outputs/**/events.out.tfevents.*
outputs/mlruns/
outputs/log/
outputs/checkpoints/

mlruns/
log/
logs/
mlflow.db
result_em/
test_results.pkl

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.spl
*.synctex.gz

*.pt
*.ckpt
